body{
   background: linear-gradient(to top, #000066 0%, #000066 70%);
   
   display: block;
   margin-left: auto;
   margin-right: auto;
}
/*----------------------------------------------*/
a{
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	margin: 20px;
    padding: 20px;
    text-shadow: 4px 1px 1px #111111;	
}
/*---------------------------------------------*/
p{
	color: #ffffff;
	font-size: 17px;
	text-align: justify;
	margin: 20px;
    padding: 20px;
    text-shadow: 5px 1px 1px #111111;
}
/*---------------------------------------------*/
h1{
    color: #ffde59;
    text-shadow: 3px 1px 1px #111111; 
    font-size: 60px;
	text-align: center;
	margin: 20px;
}
/*----------------------------------------------*/
li{
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	margin: 15px;
    padding: 15px;
    text-shadow: 2px 1px 1px #111111;	
    list-style-type: none;
}
/*---------------------------------------------*/
* {
	margin: 0;
	padding: 0;
    font-family: consolas, Arial,  helvetica;
}
/*----------------------------------------------*/
#capa{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#CorpoPrincipal{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*---------------------------------------------*/
#CorpoSecundario{
	background-image: url('../imagens/fundo.jpg');
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    background-size: 100%;
    margin: 0px;
    padding: 30px 0px 0px 0px;
}
/*----------------------------------------------*/
#efeito{
    background-color: rgba(0.1, 0.1, 0.1, 0.3);
    padding: 30px 0px 100px 0px;
}
/*---------------------------------------------*/
#BlocoEfeito{
    color: #333;
	width: 1300px;
	margin: 0px;
}
/*----------------------------------------------*/
#menu a{
    padding: 5px 20px 5px 15px;
    text-decoration: none;
    color: #ffde59;
    text-shadow: 2px 1px #111111;
}
/*----------------------------------------------*/
#menu a:hover{
    background: linear-gradient(to bottom, #000066 0%, #003399 50%);
}
/*----------------------------------------------*/
#rodape{
    text-align: center;
    color: #ffde59;
    padding: 1px; 
}
/*----------------------------------------------*/
#lista a{
    font-size: 30px;
}
/*----------------------------------------------*/
#listapub p{
    margin: 0px;
    padding: 0px;
}
.destaque{
    color: #ffde59;
    text-shadow: 3px 1px 1px #111111; 
    font-size: 17px;
}
/*----------------------------------------------*/
.posicao1{
    width: 30%;
    float: left;
    margin: 10px;
}
/*----------------------------------------------*/
.posicao2{
    width: 30%;
    float: left;
    margin: 10px;
}
/*----------------------------------------------*/
.clear{
    clear: both;
}
/*----------------------------------------------*/